body{
    background-color: blue;
    zoom: 50%;
}

header{
    height: 10%;
    width: 100%;
    background-color: green;
    border: 3px solid black;
    border-radius: 5px;
    display: inline-flex;
    gap: 20%;
}

header div{
    color: white;
    display: inline-flex;
    font-size: xxx-large;
    margin: 1%;
}

header div#titol{
    text-align: center;
    font-family: "Segoe MDL2 Assets";
    justify-content: center;
    width: 50%;
    background-color: black;
}


header div img{
    width: 160%;
}

nav{
    display: flex;
    flex-direction: row;
    background-color: darkslateblue;
    justify-content: space-between;
    height: 10%;
    width: 100%;
    border: 3px solid black;
    font-size: 25px;
}


nav div{
    display: inline-flex;
    width: 20%;
    background-color: yellowgreen;
    justify-content: center;
    font-family: "Arial Black";
}

nav div a{
    color: black;
    text-decoration: none;
}

nav div:hover{
    display: inline-flex;
    width: 20%;
    background-color: greenyellow;
    justify-content: center;
    color: white;
    text-decoration: none;
}

nav div:hover a{
    color: white;
    text-decoration: none;
}

article{
    float: left;
    height: 70%;
    width: 80%;
    background-color: green;
    border: black 2px solid;
    margin-bottom: 1%;
}

article div{
    justify-content: center;
}

article div h1{
    font-size: 60px;
    color: white;
    background-color: black;
    text-align: center;
}

article div h2{
    font-size: 2.2em;
    color: lightgrey;
}

article div video{
    margin-top: -1%;
    background-color: black;
}

article div img{
    width: 50%;
    height: 50%
}

article div p{
    color: darkgrey;
    font-size: 2em;
}

form{
    color: darkgrey;
    font-size: 1.7em;
    text-align: center;
    width: 98%;
    height: auto;
    background-color: white;
    justify-content: center;
    border-radius: 10px;
}

[type="text"] ,[type="email"],[type="color"], [type="password"], [type="url"],[type="number"],[type="time"],[type="date"],[type="color"],select {
    color: lightslategrey;
    border: 2px solid black;
    padding: 2%;
    border-radius: 5px;
}

[type="radio"]{
    transform: scale(4);
    margin-left: 5%;
    margin-right: 2%;
}

[type="color"]{
    width: 20%;
}

[type="range"]{
    transform: scale(1);
}

input{
    text-align: center;
    font-size: 135%;
}

select{
    text-align: center;
    font-size: 120%;
}

[name="Send"],[name="Reset"]{
    border-radius: 5px;
    display: inline-block;
    width: 15%;
    color: white;
    background-color: black;
}

[name="Send"]:hover, [name="Reset"]:hover{
    border-radius: 5px;
    display: inline-block;
    width: 15%;
    color: black;
    background-color: darkgrey;
    cursor: pointer;
}

article div label{
    font-size: 1.8em;
    font-weight: bold;
}

article div form h1{
    width: 98%;
   border-radius: 10px;
}

.alinear{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

 article div label#genere{
     justify-content: center;
    color: black;
}

article ul li{
    color: darkgrey;
    font-size: 2em;
}

article div * {
    margin: 1%;
}

aside{
    margin-top: -15px;
    margin-left: 1%;
    float: left;
    height: 65%;
    width: 18%;
    background-color: green;
    border: black 3px solid;
}

aside div{
    margin: 5%;
    justify-content: center;
}

aside div h2{
    text-align: center;
    background-color: black;
    font-size: 30px;
    color: white;
}

aside div p{
    color: lightgrey;
    font-size: 1.7em;
}

aside a{
    text-align: left;
    font-size: 2rem;
    color: white;
}

footer{
    background-color: green;
    height: 10%;
    width: 99%;
    margin-right: 1%;
    margin-top: 200px;
    align-content: center;
    border: 3px solid black;
    bottom: 0;
}

footer p{
    margin: 1%;
}

@media screen and (min-width: 100px) and (max-width: 1000px) {
    body {
        background-color: green;
        color: white;
    }

    nav{
        display: flex;
        flex-direction: column;
        background-color: seagreen;
        justify-content: space-between;
        height: 10%;
        width: 100%;
        border: 3px solid black;
    }

    nav div{
        width: 100%;
        background-color: darkslateblue;
        justify-content: center;
    }

    nav div a{
        text-align: center;
        width: 100%;
        color: black;
        text-decoration: none;
    }

    nav div:hover{
        display: flex;
        width: 100%;
        background-color: royalblue;
        justify-content: center;
        color: white;
        text-decoration: none;
    }

    nav div:hover a{
        text-align: center;
        color: white;
        text-decoration: none;
    }

    header{
        height: 10%;
        width: 100%;
        background-color: blue;
        border: 3px solid black;
        border-radius: 5px;
        display: inline-flex;
        gap: 20%;
    }

    header div{
        color: white;
        display: inline-flex;
        font-size: xxx-large;
        margin: 1%;
    }

    header div#titol{
        justify-content: center;
        width: 50%;
        background-color: black;
        font-family: "Segoe MDL2 Assets";
    }



    header div img{
        width: 160%;
    }


    article {
        float: left;
        height: 70%;
        width: 78%;
        background-color: blue;
        border: black 2px solid;
    }

    #formulari {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }

    form{
        color: darkgrey;
        font-size: 1.7em;
        text-align: left;
        width: 90%;
        height: auto;
        background-color: white;
        justify-content: center;
        border-radius: 10px;
        padding: 1%;
    }

    article div form div{
        text-align: left;
    }

    article div p{
        color: white;
    }

    article ul li{
        color: white;
        font-size: 1.5em;
    }

    article div h1{
        color: white;
        background-color: black;
        text-align: center;
    }

    article div h2{
        color: darkslategrey;
    }


    article div video{
        margin-top: -1%;
        background-color: black;
    }

    article div * {
        margin: 1%;
    }

    article div img{
        width: 50%;
        height: 50%
    }

    #gen{
        text-align: left;
    }

    label{
        font-size: 75%;
        font-weight: bold;
        color: black;
    }

    [name="Send"],[name="Reset"]{
        border-radius: 5px;
        display: inline-block;
        width: 22%;
        color: white;
        background-color: black;
    }

    [name="Send"]:hover, [name="Reset"]:hover{
        border-radius: 5px;
        display: inline-block;
        width: 22%;
        color: black;
        background-color: darkgrey;
        cursor: pointer;
    }


    [type="radio"]{
        transform: scale(3);
        margin-left: 5%;
        margin-right: 2%;
    }
    [type="range"]{
        margin-left: 5%;
        transform: scale(1);
    }

    aside{
        float: left;
        height: 70%;
        width: 18%;
        background-color: blue;
        margin-top: -20px;
        margin-bottom: 20px;
        margin-left: 1%;
        border: black 3px solid;
    }

    aside div{
        margin: 5%;
        justify-content: center;
    }

    aside div h2{
        text-align: center;
        background-color: black;
        font-size: 13px;
        color: white;;
    }

    aside div p{
        font-size: 0.9em;
    }

    aside a{
        text-align: left;
        font-size: 1.1rem;
        color: white;
    }

    footer{
        background-color: blue;
        bottom: 0;
        height: 10%;
        width: 99%;
        margin-right: 1%;
        margin-top: 20px;
        align-content: center;
        border: 3px solid black;
    }

    footer p{
        margin: 1%;
    }

}

